<a href="@Uri" class="card @Class">
    @ChildContent
</a>

@functions {
    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private string Class { get; set; }

    [Parameter]
    private string Uri { get; set; }
}