<form style="width:@Width" onsubmit="@OnSubmit" class="@Class">
    <div class="form-content">
        @ChildContent
    </div>
    <div class="form-buttons">
        @ButtonBar
    </div>
</form>

@functions {
    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private RenderFragment ButtonBar { get; set; }

    [Parameter]
    private string Width { get; set; }

    [Parameter]
    private Func<Task> OnSubmit { get; set; }

    [Parameter]
    private string Class { get; set; }
}