@using ItMe.Client.Utils
@using ItMe.Shared.Models
@using Microsoft.AspNetCore.Blazor.Services
@inherits BlazorLayoutComponent
@inject TokenManager TokenManager
@inject IUriHelper UriHelper
@inject HttpClient Http

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (TokenManager.IsLoggedIn)
        {
            <a href="javascript:void(0);" onclick="@SignOut" class="ml-md-auto">Sign Out</a>
        }
        else
        {
            <div>
                <a href="/login">Login</a>
            </div>
            <div>or</div>
            <div>
                <a href="/register">Register</a>
            </div>
        }
    </div>
    
    <CascadingValue Value="@info">
        <div class="content px-4">
            @Body
        </div>
    </CascadingValue>
</div>

@functions {
    private readonly GlobalInfo info = new GlobalInfo();

    protected override async Task OnInitAsync()
    {
        if (info.Person == null)
        {
            info.Person = await Http.GetJsonAsync<PersonModel>("api/persons/me");
            Console.WriteLine(info.Person.Name);
            await Interop.SetDocumentTitle(info.Person.Name);
        }
    }

    private void SignOut()
    {
        TokenManager.ProcessLogout();
        UriHelper.NavigateTo("/login");
    }
}