@using ItMe.Utils
@model ItMe.ViewModels.BlogViewComponentModel
@inject AuthManager AuthManager
    
<div class="card-container">
    @foreach (var blogPost in Model.BlogPosts)
    {
        <a class="card" href="@($"/blog/{blogPost.Slug}")">
            <div class="date">@blogPost.Created.ToString("MMM dd")</div>
            <div class="title">@blogPost.Title</div>
            <hr>
            <div class="body">@((blogPost.Excerpt ?? blogPost.Body.Summarize()).ToMarkDown(removeLinks: true))</div>
        </a>
    }
    
    @if (AuthManager.IsLoggedIn)
    {
        <a href="/blog/new/edit" class="card card-add">
            <i class="fas fa-plus"></i>
        </a>
    }
</div>
