@page
@model ItMe.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<form method="POST" width="100%" class="full-width">
    <labeled-control>
        <lc-label>Name</lc-label>
        <lc-control><input type="text" asp-for="Name" required /></lc-control>
    </labeled-control>
    
    <vc:editor id="description" model="@Model" asp-for="Body" label="Description" required="false">
    </vc:editor>
    
    <div class="g-recaptcha" data-sitekey="6LdSzH4UAAAAAClLBmA0Ayth3sf2-uDS9RzWCE3E"></div>

    <div class="button-bar">
        <button type="submit">Send</button>
    </div>
</form>
