@page
@using ItMe.Utils
@model ItMe.Pages.CvModel
@inject AuthManager AuthManager

@{
    ViewData["Title"] = "Cv";
}

<div class="cv">
    <div class="section">
        <div class="title">Work History</div>
        @foreach (var job in Model.Cv.Jobs)
        {
            <div style="float: right;">
                <a href="/cv/jobs/@job.Id"><i class="fas fa-edit"></i></a>
            </div>
            <div class="section-item">
                @job.Company
            </div>
        }

        <div class="card-container">
            @if (AuthManager.IsLoggedIn)
            {
                <a href="/cv/jobs/new" class="card add">
                    <i class="fas fa-plus"></i>
                </a>
            }
        </div>
    </div>
</div>

