@page "/cv/skills/{id?}"
@model ItMe.Pages.EditSkillModel
@{
    ViewData["Title"] = "EditSkill";
}

<h2>Edit Skill</h2>

<form method="POST" class="full-width" style="width: 100%;">
    <labeled-control>
        <lc-label>Name</lc-label>
        <lc-control><input type="text" asp-for="Name" /></lc-control>
    </labeled-control>
    <editor label="Description" asp-for="Description"></editor>

    <div class="button-bar">
        <button type="submit">Save</button>
    </div>
</form>
