@page "/cv/edit"
@model ItMe.Pages.EditCvModel
@{
    ViewData["Title"] = "Edit Cv";
}

<h2>Edit Cv</h2>

<form method="POST" class="full-width" style="width: 100%;">
    <editor label="Blurb" asp-for="Blurb"></editor>

    <div class="button-bar">
        <button type="submit">Save</button>
    </div>
</form>
