@page "/blog/{slug}/edit"
@model EditBlogPostModel

<form class="full-width" style="width:100%;" method="POST">
    <labeled-control>
        <lc-label>Title</lc-label>
        <lc-control><input type="text" required asp-for="Title" /></lc-control>
    </labeled-control>
    <editor label="Body" asp-for="Body"></editor>
    <editor label="Excerpt (optional)" asp-for="Excerpt"></editor>
    <div class="form-buttons">
        <button type="submit">Publish</button>
    </div>
</form>
