@page
@model LoginModel
@{
    ViewData["Title"] = "Home page";
}

<form method="POST">
    <labeled-control>
        <lc-label>Email:</lc-label>
        <lc-control><input type="email" asp-for="Email" /></lc-control>
    </labeled-control>
    <labeled-control>
        <lc-label>Password:</lc-label>
        <lc-control><input type="password" asp-for="Password" /></lc-control>
    </labeled-control>

    <div class="g-recaptcha" data-sitekey="6LdSzH4UAAAAAClLBmA0Ayth3sf2-uDS9RzWCE3E"></div>

    <input type="submit" value="Log In" />
</form>
