@page "/blog/{slug}"
@using ItMe.Client.Utils
@using ItMe.Shared.Models
@inject HttpClient Http

<ProgressCircleContainer IsLoading="@(Info?.Person == null || blogPost == null)">
    <div class="title">
        @Info.Person.Name
    </div>
    
    <div>@blogPost.Title</div>
</ProgressCircleContainer>

@functions {
    [CascadingParameter]
    private GlobalInfo Info { get; set; }

    [Parameter]
    private string Slug { get; set; }

    private BlogPostModel blogPost;

    protected override async Task OnInitAsync()
    {
        if (blogPost == null)
        {
            blogPost = await Http.GetJsonAsync<BlogPostModel>($"/api/blogs/{Slug}");
        }
    }

}