@page "/blog"
@using ItMe.Client.Utils
@using ItMe.Shared.Models
@inject HttpClient Http

<ProgressCircleContainer IsLoading="@(Info?.Person == null)">
    <div class="title">
        @Info.Person.Name
    </div>
    
    <CardContainer>
        <Card Uri="/blog/post">
            <i class="fas fa-plus"></i>
        </Card>
    </CardContainer>

</ProgressCircleContainer>

@functions {
    [CascadingParameter]
    private GlobalInfo Info { get; set; }
}