@using ItMe.Client.Utils
@using ItMe.Shared.Requests
@using Microsoft.AspNetCore.Blazor.Services
@page "/login"
@inject HttpClient Http
@inject TokenManager TokenManager;
@inject IUriHelper UriHelper

<h1>Login</h1>

<form onsubmit="@PerformLogin">
    <LabeledControl>
        <Label>Email:</Label>
        <Control><input type="email" bind="@email" name="email"/></Control>
    </LabeledControl>
    <LabeledControl>
        <Label>Password:</Label>
        <Control><input type="password" bind="@password" name="password"/></Control>
    </LabeledControl>
    <input type="submit" value="Log In" />
</form>

@functions {
    private string email;
    private string password;
    private string organization;

    protected override async Task OnInitAsync()
    {
    }

    private async Task PerformLogin()
    {
        var host = new Uri(UriHelper.GetBaseUri()).Host;
        var token = await Http.PostJsonAsync<string>("api/auth", new PutLogin
        {
            Email = email,
            Password = password,
            Host = host
        });
        TokenManager.ProcessLogin(token);

        UriHelper.NavigateTo("/");
    }
}
