@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    justify-content: flex-end;
}

.main .top-row div {
    padding: 5px;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page-title {
    font-family: Lato;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin: 50px;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-container {
    display: flex;
}

.card {
    display: block;
    width: 300px;
    min-height: 350px;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: #EEE;
}

.card:hover {
    text-decoration: none;
    color: black;
    background-color: #DDD;
}

.card div.date {
    color: #30cef5;
    font-family: Playfair Display;
    font-size: 2.5em;
}

.card div.title {
    font-family: Playfair Display;
    font-size: 1.75em;
}

.card-add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.card-add:hover {
    text-decoration: none;
}

.blog-post {
    width: 600px;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
}

.blog-post .toolbar {
    float: right;
}

.blog-post .date {
    color: #58C6C2;
    font-family: Playfair Display;
    font-size: 5.0em;
    text-align: center;
}

.blog-post .title {
    font-family: Playfair Display;
    font-size: 3.5em;
    text-align: center;
}

.blog-post hr, .card-container hr {
    border-top: 1px #30cef5 solid;
    width: 80%;
}

.blog-post .author {
}

.blog-post .body {
    margin-top: 50px;
    color: #888;
    font-family: Comfortaa;
    font-size: 1.2em;
    line-height: 1.4;
}

.full-width input[type=text] {
    width: 100%;
}

.full-width select {
    width: 100%;
}

.full-width textarea {
    width: 100%;
}

input[type=text] {
    padding: 2px 3px;
}

select {
    padding: 4px 1px;
}

.label {
    color: black;
}

footer > div {
    color: #AAA;
    display: flex;
    justify-content: space-between;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

.preview {
    border: 1px darkgray solid;
    width: 542.5px;
    overflow-y: auto;
    overflow-x: auto;
}

.markdown pre {
    padding: 15px;
    background-color: #FAFAFA;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab-bar > div {
    padding: 10px;
}